# -------------------------
# Root / Monorepo ignores
# -------------------------

# dependencies
**/node_modules

# lockfiles
**/package-lock.json

# Next.js
**/.next/

# Build output
dist/
build/

# coverage / testing
**/coverage

# misc
.DS_Store
*.pem
report.*.json

# debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*-debug-profile

# env files
**/.env*

# Vercel / deployment
.vercel

# next-pwa service workers
/public/workbox-*.js
/public/sw.js